@import '../../components/variables';

.about-doc-template {
    a {
        color: $accent;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}