@import 'variables';

@import './header/style';
@import './accordion/style';

html, body {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
    background-color: $dark;
    color: $white;
}

/*==========
    Global
===========*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
}

/*============
    Main
============*/

main {
    padding: 0 32px;
    flex-grow: 1;
}

/*============
    Footer
============*/

footer {
    padding: 8px 32px 8px 48px;
}

/*============
    Components
      - button
============*/

// Button
.btn {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: inherit;
    margin: 0;
    
    padding: 4px 16px;

    border-width: 1px;
    border-style: solid;

    &--primary {
        background-color: $grey;
        border-color: $grey;
        color: $dark;

        &:hover, &:focus {
            background-color: $white;
            border-color: $white;
        }
    }

    &--secondary {
        color: $white;
        border-color: $white;

        &:hover, &:focus {
            background-color: transparentize(white, .9);
        }
    }
}
